/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Spectral+SC:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Styles */
body {
    min-height: 100vh;
}

/* header */
h1 {
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}

a {
    text-decoration: none;
}

.hero-image {
    background-image: url("../images/walchensee-4518931_1280.webp");
    height: 80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.hero-text > p {
    font-size: 1.5em;
}

nav {
    margin: 1em;
    position: absolute;
    right: 0;
    padding: 0 1rem;
    color: white;
}

nav a {
    color: #00563B;
}

nav a.active {
    border-bottom: 1.5px solid #00563B;
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 150%;
    letter-spacing: 3px;
}

/* Main section */

#about-us, #offers, #reservation-request, #location {
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

#about-us~p {
    text-align: center;
}

.offers, .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    height: 50px;
    flex: 1;
    margin: 25px;
}

#meditation {
    background-color: #1ac6ff;
}

#sauna {
    background-color: #47d147;
}

#yoga {
    background-color: #ccffff;
}

#hiking {
    background-color: #aaff80;
}

#spa {
   background-color: #b3ffb3;
}

#map {
    width: 100%;
    height: 60vh;
}

/* Footer */
footer {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #110E0D;
}

footer > p {
    text-align: center;
    color: #D5D0D0;
}
#social-networks {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content:space-around;
}
#social-networks i {
    font-size: 200%;
}

footer a {
    color: #D5D0D0;
}

#contact-details a {
    font-weight: bold;
    text-transform: capitalize;
}

.contact {
    color: #D5D0D0;
}

/*reservation.html styles*/

/* @media screen and (min-width: 768px;) {
    .offers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px 10px;
        height: 50px;
        flex: 1;
        margin: 25px;
    } 
} */

@media screen and (max-width: 1140px;) {
    .offers {
        flex-direction: column;
    }

    .offers > div {
        margin: 10px auto;
        min-width: 380px;
    }
}