/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Spectral+SC:wght@200&display=swap');

/* header */
h1 {
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 3px;
}
#logo {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Footer */
#social-networks {
    list-style-type: none;
}